@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --cor01: #5F2c82;
    --cor02: #49a09d;
    --cor03: #94CFCD;
    --cor04: #034643;
}

html , body {
    position: relative;
    background-color: var(--cor01);
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    width: 100vw;
}

main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    background-color: white;
    width: 70vw;
    padding: 20px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.301);

    transition-duration: 500ms;
    transition-timing-function: ease;
}

#imagem {
    display: block;
    background: url(../images/metal.jpg) left bottom no-repeat;
    background-size: cover;
    margin: -20px -20px -0px;
    height: 24vh;
}

#login {
    display: block;
}

#login > h1 {
    text-align: center;
    cursor: default;
    margin: 10px;
    font-size: 1.8em;
}

#login > p {
    text-align: center;
    cursor: default;
}

.secEmail, .secSenha {
    margin: 15px 0px;
    padding: 5px;
    background-color: var(--cor01);
    border-radius: 10px;

    transition-duration: 500ms;
    transition-timing-function: ease;
}

.secEmail > label, .secEmail > input, .secSenha > label, .secSenha > input {
    display: block;
} 

.secEmail > label, .secSenha > label {
    float: left;
}

.secEmail > label > img, .secSenha > label > img {
    padding: 5px;
}

.secEmail > input, .secSenha > input {
    width: calc(100% - 62px);
    height: 80%;
    background-color: var(--cor03);
    border: 0px;
    border-radius: 5px;
    font-size: 1.1em;
    padding: 10px;
    color: var(--cor04);
}

.secEmail > input:focus, .secSenha > input:focus {
    background-color: white;
    color: black;
}

.secBotões > input {
    font-size: 1.2em;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 10px;
    border: 0px;
}

.secBotões > input:nth-child(1) {
    background-color: var(--cor02);
    color: white;
    text-shadow: 1.5px 1.5px 2px var(--cor04);
}

.secBotões > input:nth-child(1):hover {
    background-color: var(--cor04);
    text-shadow: none;
}

.secBotões > input:nth-last-child(1) {
    color: var(--cor04);
    border: 2px solid var(--cor02);
}

.secBotões > input:nth-last-child(1):hover {
    background-color: var(--cor02);
    color: white;
    text-shadow: 1.5px 1.5px 2px var(--cor04);
    border: 2px solid var(--cor04);
}


@media screen and (min-width: 600px) and (max-width: 768px){
    main {
        width: 60vw;
        transition-duration: 500ms;
        transition-timing-function: ease;
    }

    .secEmail, .secSenha {
        transition-duration: 500ms;
        transition-timing-function: ease;
    }
}


@media screen and (min-width: 768px) and (max-width: 992px){
    html, body {
        background-image: linear-gradient(var(--cor01), var(--cor02));
    }
    
    main {
        width: 70vw;
        height: 400px;

        transition-duration: 500ms;
        transition-timing-function: ease;
    }

    #imagem {
        float: left;
        width: 40%;
        height: 150%;

        margin: -20px;
        transition-duration: 500ms;
        transition: float, width;
        transition-timing-function: ease;
    }

    #login {
        float: right;
        width: 60%;

        transition-duration: 500ms;
        transition-timing-function: ease;
    }

    #login > h1 {
        margin: 15px;
        font-size: 2em;
    }

    #login > p {
        font-size: 1.05em;
        margin-bottom: 20px;
    }

    .secEmail, .secSenha {
        transition-duration: 500ms;
    }
}


@media screen and (min-width: 992px) {
    html, body {
        background-image: linear-gradient(var(--cor01), var(--cor02));
    }
    
    main {
        width: 60vw;
        height: 400px;

        transition-duration: 500ms;
        transition-timing-function: ease;
    }

    #imagem {
        float: right;
        width: 40%;
        height: 150%;

        margin: -20px;
        transition-duration: 500ms;
        transition: float, width;
        transition-timing-function: ease;
    }

    #login {
        float: left;
        width: 60%;
        transition-duration: 500ms;
        transition: float 500ms, width 500ms;
        transition-timing-function: ease;
    }

    #login > h1 {
        margin: 15px;
        font-size: 2em;
    }

    #login > p {
        font-size: 1.1em;
        margin-bottom: 20px;

    }

    .secEmail, .secSenha {
        transition-duration: 500ms;
        transition-timing-function: ease;
    }
}